.card{
    position: fixed;
    width:25rem;
    top: 50%;
    left: 50%;
    height: auto;
    transform: translate(-50%, -50%);
}

.backgroundimage{
    height: 100%;
    background-size: cover;
    overflow: hidden;
    overflow-y: hidden;
    background-image:url('https://hdqwalls.com/wallpapers/milky-way-mount-fuji-7z.jpg');
    background-position: 50% 50%;
  }

