.card-img-top{
    display: block;
    object-fit: cover;
    height:24rem;
}

.container-lease{
    margin: 1rem 1rem 1.5rem 1rem;
}

.currency {
    font-size: 2rem;
    color: #000;
}
.info {
    font-size: 1rem;
}

.info .currency {
    font-size: 1rem;
}
.info-card .card-title{
    color: #000;
}

.form-group label {
    font-size: 1.2rem;
    color: #000;
    font-weight: 400;

}

.table tbody td, .table thead th {
    font-size: 1rem;
    font-weight: 400;
}

.table thead th {
    font-weight: 800;
}

.form-input {
    padding: 2rem;
}

.card-img-overlay {
    max-height: 100%;
    padding: 2rem 1rem;
    width :75%;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0rem;
}
.card-img-overlay .card-title{
    font-size:3rem;
}
.card-img-overlay .card-text{
    font-size:1rem;
}
.check
{
    opacity:0.85;
	color:#996;
}

.hidden {
    opacity: 0;
    display: none;
}

@media (max-width: 768px) {
    #content {
        width: calc(100% - 250px);
    }

    .container-fluid {
        margin-right: auto;
        margin-left: auto;
        padding-right: 5px;
        padding-left: 5px;
        width: 100%;
    }
    .card-img-overlay .card-title{
        font-size:1.5rem;
    }
    .card-img-overlay {
        width: 100%;
        padding: 1rem 1rem;
    }
    .box {
        margin-left: 1rem;
    }
}

