<div class="container-fluid">
  <div class="card text-dark-2 bg-light-1">
    <img class="card-img-top" src="https://hdqwalls.com/wallpapers/mountains-landscape-nature-digital-art-1b.jpg" alt="">
    <div class="card-body">
      <h4 class="card-title">LEASEE MANAGEMENT</h4>
      <hr class="my-2 bg-dark-1">
      <br>
      <!-- INFO CARDS -->
      <div class="row">
        <div class="info-card col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Active Leasee(s) </h5>
              <h6 class="card-subtitle mb-2 text-muted">No. #</h6>
              <p class="currency">{{ allCount }}</p>
            </div>
          </div>
        </div>
        <!-- <div class="info-card col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Pending</h5>
              <h6 class="card-subtitle mb-2 text-muted">To Do</h6>
              <p class="currency">{{ pendingCount }}</p>
            </div>
          </div>
        </div> -->
      </div>
      
      <br>
      <div class="container-fluid form-input-filter">
        <!-- <button type="button" routerLink="0" name="requestSubmit" id="requestSubmit" class="btn btn-primary btn-lg"><i
            class="fa fa-plus-circle"></i> NEW LEASE</button> -->
      </div>
      <div class="container-fluid form-input form-input-filter">
        <div class="row card-shadow ">
          <mat-form-field class="col-12 bg-white table-filter text-dark">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search (All Tenenats)">
            <mat-label><i class="fa fa-search" aria-hidden="true"></i>&nbsp; <b> Search (All Tenenats)</b></mat-label>
          </mat-form-field>
        </div>
      </div>
      <div class="container-fluid form-input">
        <div class="row">
          <div class="table-responsive full-table card-shadow">
            <table mat-table [dataSource]="dataTable" matSort class=" mat-elevation-z8 table-filter table-hover">

              <ng-container matColumnDef="requestID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Request ID. </th>
                <td mat-cell *matCellDef="let element"><a [routerLink]="[element.requestID]">{{element.requestID
                    | slice:-8}}</a> </td>
              </ng-container>

              <ng-container matColumnDef="aptID">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Apartment ID. </th>
                <td mat-cell *matCellDef="let element"> {{element.aptID | slice:-8 }} </td>
              </ng-container>

              <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
                <td mat-cell *matCellDef="let element">{{ element.leasee['firstName'] }}</td>
              </ng-container>

              <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="increse-width"> Last Name </th>
                <td mat-cell *matCellDef="let element"> {{ element.leasee['lastName'] }} </td>
              </ng-container>

              <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
                <td mat-cell *matCellDef="let element"> {{element.leasee['email']}} </td>
              </ng-container>

              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                <td mat-cell *matCellDef="let element">{{ element.status}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator class="mat-elevation-z8" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
