<h4 class="card-title"><span class="badge badge-secondary">4</span> SUBMIT </h4>
<hr class="my-2 bg-light">
<br>
<form>
<br>

<div class="jumbotron">
  <h1 class="display-3">You are one step away to be part of Super Rental Family</h1>
  <br>
  <p class="lead">Hit 'SUBMIT' to send your application request to our team.</p>
  <hr class="my-2">
  <p>If you are facing any trouble while submitting the application please reach out to our specialist team</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="enquiry" role="button">CONTACT US</a>
  </p>
</div>
  
  
</form>

<br>
  <div class="col">
      <button class="btn btn-primary float-left" role="button" (click)="navigateBack()" ><i class="material-icons" style="font-size:1.5rem;">navigate_before</i> Lease Info </button>
      <button type="submit" class="btn btn-success float-right btn-lg" role="button" >Submit <i class="material-icons" style="font-size:1.5rem;">navigate_next</i></button>
    </div>
  
