<div class="container-fluid">
  <div class="card text-dark-2 bg-light-1">
    <img class="card-img-top" src="https://hdqwalls.com/wallpapers/forest-dark-evening-sunset-last-light-minimalistic-5c.jpg"
      alt="">
    <div class="card-body">
      <h4 class="card-title">STATEMENT</h4>
      <hr class="my-2 bg-dark">
      <br>
      <!-- INFO CARDS -->
      <!-- TODO: Note, this is not needed here -->
      <!-- <div class="row">
        <div class="info-card col-lg-3 col-md-6 col-sm-12">
          <div class="card h-100">
            <div class="card-body">
              <h5 class="card-title">Current Balance</h5>
              <h6 class="card-subtitle mb-2 text-muted">Current Balance</h6>
              <p class="currency">{{ bill?.amount | currency  }}</p>
            </div>
          </div>
        </div>
      </div> -->
      <br>
      <div class="container-fluid bg-white form-input card-shadow">
        <div class="row">
          <div class="table-responsive">
            <br>
              <table class="table table-hover ">
                  <thead class="thead-light">
                    <tr>
                      <th scope="col">Transaction ID</th>
                      <th scope="col">Transaction Date</th>
                      <th scope="col">ApartmentID</th>
                      <th scope="col">Amount</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let statement of _statements | async">
                    <tr>
                      <td> {{ statement.id }} </td>
                      <td> {{ statement.datePaid | date }} </td>
                      <td> {{ statement.apartmentID }} </td>
                      <td> {{ statement.amount }} </td>
                    </tr>
                  </tbody>
                </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
