<div class="card">
  <div class="card-body">
    <h5 class="card-title">Post a new event here!</h5>
    <div class="container-fluid bg-white form-input">
      <div class="row">
        <div class="col-lg-7">
          <form [formGroup]="add_event_form">
            <div class="form-group">
              <label for="eventTitle">Title<span class="asterisk">*</span></label>
              <input type="text" id="eventTitle" class="form-control" name="eventTitle" formControlName="eventTitle"
                required>
            </div>
            <div class="form-group">
              <mat-form-field>
                <input formControlName="date" matInput [matDatepicker]="picker" placeholder="Event Date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-label>
                    <i class="fa fa-calendar-o" aria-hidden="true"></i> Event Date 
                </mat-label>
              </mat-form-field>
            </div>
            <div class="form-group">
              <label for="eventDescription">Description:</label>
              <textarea name="eventDescription" id="eventDescription" cols="30" rows="10" class="form-control"
                formControlName="eventDescription">
                  </textarea>
            </div>


            <div class="form-group">
              <label for="pictureURL">Image URL:</label>
              <input formControlName="pictureURL" class="form-control" id="pictureURL" type="text">
            </div>
            <br>
          </form>
          <div>
            <button (click)="createNewEvent()" class="btn btn-primary btn-lg">POST</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
