<footer style="background: #232323;">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-sm-3">
                <h2 class="logo">LOGO</h2>
            </div>
            <div class="col-sm-3">
                <h5 class="font-weight-bold">Contact</h5>
                <p class="mb-0">Email: contact@superrentals.com</p>
                <p>Phone: +1 (000) 999-9999</p>
            </div>
            <div class="col-sm-3">
                <h5 class="font-weight-bold">Address</h5>
                <p class="mb-0">1234 Street Name</p>
                <p class="mb-0">City, State 99999</p>
            </div>
            <div class="col-sm-3">
                <h5 class="font-weight-bold">Site Links</h5>
                <p class="mb-0"><a href="#">Home</a></p>
                <p class="mb-0"><a href="#">Bases</a></p>
                <p class="mb-0"><a href="#">Login</a></p>
            </div>
        </div>
    </div>
</footer>